@font-face {
    font-family: 'Brandon';
    src: url('../fonts/BrandonGrotesque-Medium.eot');
    src: url('../fonts/BrandonGrotesque-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BrandonGrotesque-Medium.woff2') format('woff2'),
        url('../fonts/BrandonGrotesque-Medium.woff') format('woff'),
        url('../fonts/BrandonGrotesque-Medium.ttf') format('truetype'),
        url('../fonts/BrandonGrotesque-Medium.svg#BrandonGrotesque-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Kazimir';
    src: url('../fonts/Kazimir-Regular.eot');
    src: url('../fonts/Kazimir-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Kazimir-Regular.woff2') format('woff2'),
        url('../fonts/Kazimir-Regular.woff') format('woff'),
        url('../fonts/Kazimir-Regular.ttf') format('truetype'),
        url('../fonts/Kazimir-Regular.svg#Kazimir-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
