@font-face {
    font-family: 'Brandon';
    src: url('../fonts/BrandonGrotesque-Medium.eot');
    src: url('../fonts/BrandonGrotesque-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BrandonGrotesque-Medium.woff2') format('woff2'),
        url('../fonts/BrandonGrotesque-Medium.woff') format('woff'),
        url('../fonts/BrandonGrotesque-Medium.ttf') format('truetype'),
        url('../fonts/BrandonGrotesque-Medium.svg#BrandonGrotesque-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Kazimir';
    src: url('../fonts/Kazimir-LightItalic.eot');
    src: url('../fonts/Kazimir-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Kazimir-LightItalic.woff2') format('woff2'),
        url('../fonts/Kazimir-LightItalic.woff') format('woff'),
        url('../fonts/Kazimir-LightItalic.ttf') format('truetype'),
        url('../fonts/Kazimir-LightItalic.svg#Kazimir-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}



